@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  /*padding: 2rem;*/

  font-weight: normal;

  min-height: 100vh;
}
hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.primary {
  text-decoration: none;
  color: var(--vt-c-primary);
  transition: 0.4s;
}

.customBaseWrapper {
  background: var(--color-background-soft);
  min-height: 200px;
  padding: 32px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
a:hover {
  color: var(--vt-c-primary);
}

.toast-styles {
  border-radius: var(--border-radius-big);
}


/*@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
